#searchBar {
  margin: 15px 10px;
}

.tableWrapper {

  max-height: 550px;
  overflow: auto;
  float: left;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(237, 243, 249);
 }

#logo {
	background: #f37021;
	display: inline-block;
	padding: 15px;
	padding-left:20px;
	border-right: 5px solid #fff;
}

.boxy {
	background-color: rgb(237, 243, 249);
	border: 2px solid rgb(237, 243, 249);
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.input-group {
	padding-left: 15px;
}


header h1 {
	display: inline-block;
	color: #fff;
	padding-left: 15px;
	vertical-align: middle;
}

thead {
	font-size: 30px;
	font-weight: 500;
}


header {
	background-color: #00529b;
	margin-bottom: 25px;
	-webkit-box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    4px 4px 12px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         4px 4px 12px 0px rgba(50, 50, 50, 0.75);
}
