#searchBar {
  margin: 15px 10px;
}

.tableWrapper {
  max-height: 400px;
  overflow: auto;
  float: left;
}

#logo {
	background: #f37021;
	display: inline-block;
	padding: 15px;
	padding-left:20px;
	border-right: 5px solid #fff;
	-webkit-box-shadow: 0px 5px 9px 0px rgba(47, 50, 50, 0.59);
	-moz-box-shadow:    0px 5px 9px 0px rgba(47, 50, 50, 0.59);
	box-shadow:         0px 5px 9px 0px rgba(47, 50, 50, 0.59);
}

.boxy {
	background-color: #eee;
	border: 2px solid #eee;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
}

header h1 {
	display: inline-block;
	color: #fff;
	padding-left: 15px;
	vertical-align: middle;
}

header {
	background-color: #00529b;
	margin-bottom: 25px;
	-webkit-box-shadow: 0px 5px 9px 0px rgba(47, 50, 50, 0.59);
	-moz-box-shadow:    0px 5px 9px 0px rgba(47, 50, 50, 0.59);
	box-shadow:         0px 5px 9px 0px rgba(47, 50, 50, 0.59);
}
